
# ignore ALL .log files
*.log

# ignore ALL .zip files
*.zip

# ignore ALL /work/* files
/work/*

# ignore ALL .DS.Store files
.DS_Store

# ignore ALL Xcode 
*.xcuserstate

# ignore VisualSlickEdit Project file(s)
*.vtg
*.vpw
*.vpj
*.vpwhistuxml

# ignore Xcode per-User settings binary file
UserInterfaceState.xcuserstate

PMADataGatherer/Models/Debug/slickedit.tmp.vpb
PMADataGatherer/.smbdeleteAAAa312b
PMADataGatherer/JmUtils/.smbdeleteAAAa312a
PMADataGatherer/Views/.smbdeleteAAAa312c
PMADataGatherer/Views/.smbdeleteAAAa312d
PMADataGatherer/Views/.smbdeleteAAAa312e
PMADataGatherer/Views/.smbdeleteAAAa3130
